<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ksz.test.b_genius">

   <uses-permission android:name="android.permission.INSTALL_PACKAGES" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    
<supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" 
        android:resizeable="true" 
        android:xlargeScreens="true">
    </supports-screens>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/b_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ksz.test.b_genius.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.application.kidsnurseryrhymes.SplashActivity">
        </activity>
        <activity
            android:name="com.application.kidsnurseryrhymes.ListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.application.kidsnurseryrhymes.MainRhymeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.application.kidsnurseryrhymes.MainPoemActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.application.kidsnurseryrhymes.SongRhymeActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.application.kidsnurseryrhymes.SongPoemActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />


        <!-- StartApp activities integration -->
        <activity
            android:name="com.startapp.android.publish.list3d.List3DActivity"
            android:theme="@android:style/Theme" />
        <activity
            android:name="com.startapp.android.publish.AppWallActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent" />
        <!-- End of StartApp activities integration -->

<activity
            android:name="com.golakar.kids.edu.SplashActivity2"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >

        </activity>
        <activity
            android:name="com.golakar.kids.edu.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity
            android:name="com.golakar.kids.edu.AboutUs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.golakar.kids.edu.utilities.ImageGameStart"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.golakar.kids.edu.utilities.ImageGameEnd"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.golakar.kids.edu.utilities.AlphabetActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            </activity>
    
        <activity
            android:name="com.golakar.kids.edu.utilities.GuessActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.golakar.kids.edu.utilities.GolQuizActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.golakar.kids.edu.utilities.NumbersActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>


    </application>

</manifest>
